/*//////Achtergrond/////*/
body {
    background-color: #232323;
    margin:0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow : hidden;
}

.kleur1 {
    background-color: #00a300;
    width: 48.5%;
    height: 46%;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 0 0 20px 0;
    border: solid white 4px;
    border-top: none;
    border-left: none;
}
.kleur2 {
    background-color: #00a300;
    width: 48.5%;
    height: 25%;
    bottom: 0;
    position: absolute;
    border-radius: 0 20px 0 0;
    border: solid white 4px;
    border-bottom: none;
    border-left: none;
}
.kleur3 {
    background-color: #00a300;
    width: 36%;
    height: 25%;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 20px 0 0 0;
    border: solid white 4px;
    border-right: none;
    border-bottom: none;
}
.kleur4 {
    background-color: #00a300;
    width: 36%;
    height: 46%;
    right: 0;
    position: absolute;
    top: 0;
    border-radius: 0 0 0 20px;
    border: solid white 4px;
    border-right: none;
    border-top: none;
}
.pad {
    border-left: 5px dashed white;
    right: 43.6%;
    position: absolute;
    height: 45%;
    top: 0;
}
.pad2 {
    border-bottom: 5px dashed white;
    position: absolute;
    width: 35%;
    right: 0;
    bottom: 39%;
}
.pad3 {
    border-left: 5px dashed white;
    right: 43.6%;
    position: absolute;
    height: 23%;
    bottom: 0;
}
.pad4 {
    border-bottom: 5px dashed white;
    position: absolute;
    width: 47%;
    left: 0;
    bottom: 39%;
}
/*////Stoplicht////*/
.informatie {
    background-color: red;
    display: inline-block;
    border: solid;
    border-radius: 10%;
    text-align: center;
    width: 15vw;
    height: 30vh;
    margin: 2% 0 0 2%;
}
#stoplicht {
    position: absolute;
    height: 9%;
    z-index: 100;
    right:33.5%;
    bottom: 14%;
}

#stoplichtnummer2 {
    position: absolute;
    height: 9%;
    z-index: 101;
    right: 53%;
    top: 35%;
    transform: rotate(180deg);
}
#stoplichtnummer3 {
    position: absolute;
    height: 9%;
    z-index: 102;
    right: 32%;
    top: 37%;
    transform: rotate(270deg);
}
#stoplichtnummer4 {
    position: absolute;
    height: 9%;
    z-index: 110;
    left: 44.5%;
    bottom: 16%;
    transform: rotate(90deg);
}
/*////Auto////*/
.auto {
    background-color: red;
    display: inline-block;
    border: solid;
    border-radius: 10%;
    text-align: center;
    width: 15vw;
    height: 30vh;
    margin: 2% 0 0 2%;
}
#auto {
    width: 170px;
}
#auto2 {
    width: 170px;
}
.rotatie {
    transform: rotate(270deg);
}
#auto3 {
    width: 180px;
    z-index: 105;
}
#auto4 {
    width: 180px;
    z-index: 106;
}
.rotatie2 {
    transform: rotate(180deg);
}